<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gestão{% endblock %}</title>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        {% include 'topo.html' %}

        <div class="container">
            {% include 'menu.html' %}
            <main class="content">{% block content %}{% endblock %}</main>
        </div>

        {% include 'perfil_modal.html' %} {% block extra_modal %}{% endblock %}

        <script>
            const current_user_id = {{ session.get('user_id') or 'null' }};
        </script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    </body>
</html>
