<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Gestão{% endblock %}</title>
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        {% include 'topo.html' %}

        <div class="container">
            {% include 'menu.html' %}
            <main class="content">{% block content %}{% endblock %}</main>
        </div>

        {% block extra_modal %}{% endblock %}
    </body>
</html>
