{% extends 'base.html' %} {% block title %}Conteúdos{% endblock %} {% block
content %}
<div class="search-cta">
    <input
        type="text"
        placeholder="Busque por ID, nome, início ou fim de exibição do conteúdo"
        class="search"
        id="buscaConteudos"
    />

    <select id="filtroDispositivo">
        <option value="">Todos os Dispositivos</option>
        {% for dispositivo in dispositivos %}
        <option value="{{ dispositivo.nomeDispositivo }}">
            {{ dispositivo.nomeDispositivo }}
        </option>
        {% endfor %}
    </select>

    <button class="btn" onclick="openModal()">Cadastrar novo conteúdo</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Dispositivos</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="conteudosTableBody">
        {% for conteudo in conteudos %}
        <tr>
            <td>{{ conteudo.id }}</td>
            <td>
                {% if conteudo.imagem %}
                <img
                    src="{{ url_for('static', filename=conteudo.imagem) }}"
                    alt="Imagem Conteúdo"
                    width="60"
                />
                {% else %}
                <em>Sem imagem</em>
                {% endif %}
            </td>
            <td>{{ conteudo.nome }}</td>

            <td>
                {% for rel in conteudo.dispositivos %}
                <span class="chip">{{ rel.dispositivo.nomeDispositivo }} </span
                ><br />
                {% endfor %}
            </td>
            <td>
                {{ conteudo.data_inicio.strftime('%d/%m/%Y %H:%M') if
                conteudo.data_inicio else '-' }}
            </td>
            <td>
                {{ conteudo.data_fim.strftime('%d/%m/%Y %H:%M') if
                conteudo.data_fim else '-' }}
            </td>

            <td>
                <span
                    class="status {{ 'ativo' if conteudo.status == 'Ativo' else 'inativo' }}"
                >
                    {{ conteudo.status }}
                </span>
            </td>
            <td>
                <button
                    class="edit"
                    title="Editar conteúdo"
                    onclick="editConteudo({{ conteudo.id }})"
                >
                    <span class="material-icons">edit</span>
                </button>

                <label class="switch" title="Ativar/Inativar conteúdo">
                    <input type="checkbox" {% if conteudo.status == 'Ativo'
                    %}checked{% endif %} onchange="toggleConteudoStatus({{
                    conteudo.id }}, this.checked)" />
                    <span class="slider"></span>
                </label>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %} {% block extra_modal %}
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="check">
            <h2>Cadastrar conteúdo</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <form
            method="POST"
            action="{{ url_for('conteudos.adicionar_conteudo') }}"
            enctype="multipart/form-data"
        >
            <div class="form">
                <div class="item_form">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" required />
                </div>
                <div class="item_form">
                    <label for="imagemConteudo">Imagem</label>
                    <input
                        type="file"
                        name="imagem"
                        id="imagemConteudo"
                        required
                    />
                </div>

                <div class="item_form">
                    <label>Dispositivos</label>
                    <div class="checkbox-list">
                        {% for dispositivo in dispositivos %}
                        <label>
                            <input
                                type="checkbox"
                                name="dispositivos"
                                value="{{ dispositivo.idTela }}"
                                checked
                            />
                            {{ dispositivo.nomeDispositivo }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="item_form">
                    <label for="dataInicio">Data e Hora de Início</label>
                    <input
                        type="datetime-local"
                        name="data_inicio"
                        id="dataInicio"
                    />
                </div>

                <div class="item_form">
                    <label for="dataFim">Data e Hora de Fim</label>
                    <input type="datetime-local" name="data_fim" id="dataFim" />
                </div>

                <button type="submit" id="save">Salvar conteúdo</button>
            </div>
        </form>
    </div>
</div>

<div id="modalEditar" class="modal">
    <div class="modal-content">
        <div class="check">
            <h2>Editar conteúdo</h2>
            <span class="close" onclick="closeEditModal()">&times;</span>
        </div>
        <form id="formEditarConteudo">
            <input type="hidden" id="editConteudoId" />
            <div class="form">
                <div class="item_form">
                    <label for="editNome">Nome</label>
                    <input type="text" id="editNome" required />
                </div>

                <div class="item_form">
                    <label>Dispositivos</label>
                    <div class="checkbox-list">
                        {% for dispositivo in dispositivos %}
                        <label>
                            <input
                                type="checkbox"
                                class="editDispositivo"
                                value="{{ dispositivo.idTela }}"
                            />
                            {{ dispositivo.nomeDispositivo }}
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="item_form">
                    <label for="editInicio">Data e Hora de Início</label>
                    <input type="datetime-local" id="editInicio" />
                </div>

                <div class="item_form">
                    <label for="editFim">Data e Hora de Fim</label>
                    <input type="datetime-local" id="editFim" />
                </div>

                <button type="submit" id="saveEdit">Salvar alterações</button>
            </div>
        </form>
    </div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
<script src="{{ url_for('static', filename='conteudos.js') }}"></script>

{% endblock %}
