<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <title>Quiosque</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='quiosque.css') }}"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div
            class="container_quiosque"
            style="background: linear-gradient(to bottom, {{ background or '#0f7df2' }}, white);"
        >
            <div class="carrossel">
                <div class="carrossel_images" id="carrossel_images">
                    {% for imagem in imagens %}
                    <img
                        src="{{ url_for('static', filename=imagem) }}"
                        alt="Slide {{ loop.index }}"
                    />
                    {% endfor %}
                </div>
            </div>

            <div class="barra_horario">
                <img
                    src="{{ url_for('static', filename='images/logo-ifms-tl.png') }}"
                    alt="logo-ifms"
                />
                <div id="relogio"></div>
                <img
                    src="{{ url_for('static', filename='images/if_news.png') }}"
                    alt="logo-ifms"
                />
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
