<link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
/>

<header class="topbar">
    <a href="{{ url_for('index') }}" class="logo-topo">
        <img
            src="{{ url_for('static', filename='images/logo-ifms-tl.png') }}"
            alt="IFMS Logo"
            style="height: 24px; vertical-align: middle; margin-right: 8px"
        />
    </a>
    <div class="profile">
        {% if session['user_name'] %}
        <span>Olá, {{ session['user_name'] }}!</span>
        <a href="{{ url_for('logout') }}">
            <span class="material-icons">logout</span>
            Sair
        </a>
        {% else %}
        <a href="{{ url_for('login_usuario') }}">Entrar</a>
        {% endif %}
    </div>
</header>
