{% extends 'base.html' %} {% block title %}Usuários{% endblock %} {% block
content %}
<div class="search-cta">
    <input
        type="text"
        placeholder="Busque por ID, nome, ou e-mail do usuário"
        class="search"
        id="buscaUsuarios"
    />
    <button class="btn" onclick="openModal()">Cadastrar usuário</button>
</div>
<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody id="userTableBody">
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <span
                        class="status {{ 'ativo' if user.is_active else 'inativo' }}"
                    >
                        {{ 'Ativo' if user.is_active else 'Inativo' }}
                    </span>
                </td>
                <td>
                    <button
                        class="edit"
                        title="Editar usuário"
                        onclick="editUser('{{ user.id }}')"
                    >
                        <span class="material-icons">edit</span>
                    </button>

                    <label class="switch" title="Ativar/Inativar usuário">
                        <input type="checkbox" {% if user.is_active %}checked{%
                        endif %} {% if user.id == current_user_id and
                        user.is_admin %}disabled{% else %}
                        onchange="toggleUserStatus({{ user.id }}, this.checked)"
                        {% endif %} />

                        <span class="slider"></span>
                    </label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} {% block extra_modal %}
<div id="modal" class="modal">
    <div class="modal-content">
        <div class="check">
            <h2 id="modalTitle">Cadastrar usuário</h2>
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <form id="userForm" class="form" onsubmit="return false;">
            <div class="item_form">
                <label for="name"
                    >Nome <span class="required-star">*</span></label
                >
                <input
                    type="text"
                    id="userName"
                    placeholder="Nome do usuário"
                    onblur="validateName()"
                    required
                />
            </div>
            <div class="item_form">
                <label for="email"
                    >Email <span class="required-star">*</span></label
                >
                <input
                    type="email"
                    id="userEmail"
                    placeholder="email_usuario@ifms.edu.br"
                    onblur="validateEmail()"
                    required
                />
            </div>
            <div class="item_form">
                <label for="password">Senha</label>

                <input
                    type="password"
                    id="userPassword"
                    placeholder="Senha do usuário"
                    onblur="validatePassword()"
                    required
                />
            </div>

            <button type="button" onclick="saveUser()" id="save">
                Salvar alterações
            </button>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
